@mixin full-width() {
    max-width: none;
    width:100vw;
    height:100vh;
}

.dashboard-container {
	background-color: #f7f7f7;
	// height: calc(100vh - 80px);
	// overflow-y:auto;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #666062;
	margin-top:64px;
	mat-tab-group {
		background:#f7f7f7;
		position:fixed;
		width:100%;
		top:64px;
		z-index: 90;
	}
	mat-list {
		margin-top:8em;
	}
	mat-list-item {
		margin:2em;
		.mat-button {
			text-align:left;
			.mat-line {
				padding:0;
				margin:0;
			}
		}
	}
}
.avi {
	border: solid 5px #f9b625;
	max-width: 150px;
	width: 100%;
}

.progress {
	height:35px;
	border-radius: 0;
	background-color:rgba(230, 230, 230, 0.75);
	.progress-bar {
		box-shadow: none;
		min-width: 3em;
		span {
			display: inline-block;
			padding-top: 7px;
			font-size: 1.5em;
		}
	}
}
#percentage {
	font-size: 1.25em;
	position: relative;
}
